.title {
    text-align: center;
    color: #1d7a18;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.first_th, .first_td {
    border:1px solid purple;
}

.first_th {
    text-align: center;
}

.first_td {
    height: 150px;
    text-align: right;
    vertical-align: top;
}

.first {
    width: 40%;
    border: 5px solid purple;
    text-decoration: none;
}

.second {
    border-spacing: 20px;
    width: 40%;
    border: 2px solid green;
}

.second_td {
    border: 1px solid green;
}

.third {
    border-spacing: 20px;
    width: 70%;
    border: 2px solid orange;
}

.third_td {
    border: 1px solid orange;
}

.bla, .bla1, .bla2 {
    border: solid #18737a 2px;
}

.bla {
    width: 30%;
    height: 70px;
}

.bla1 {
    text-align: center;
}

.piz {
    border: solid purple 2px;
    width: 50%;
}

.piz_td {
    border: solid purple 2px;
}

.table8 {
    border-spacing: 1px;
 
    margin-left:40%;
    border: 1px solid rgb(0, 255, 255);
 }
 .table8 td {
 border:1px solid rgb(0, 255, 255);
 }
 .table8_1 {
 border: 1px solid rgb(218, 102, 253);
 }
 #div8 {
 margin: 0;
 }
 #h58 {
    margin: 0;
 }
 .table8_1 td {
    border: 1px solid rgb(218, 102, 253);
 }

 .pid, .pid td {
    border: solid 2px purple;
 }

 .pid td {
    width: 30%;
    height: 20px;
 }

 
 .pid td[colspan="1"] {
    width: 40%; /* Задайте желаемую ширину в процентах или в пикселях */
}

